.wrapper {
  display: grid;
  width: 1400px;
  margin: 0 auto;
  grid:
    "header header  header" 80px
    "nav    section aside" 1fr
    "footer footer  footer" 50px
    / 15% 1fr 18%;

  min-height: 900px;
}
.elemStyle{
  height: 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
header {
  grid-area: header;
  position: sticky; 
  top: 0;  
}
nav {
  grid-area: nav;
}
main {
  grid-area: section;

}
aside {
  grid-area: aside;
}
footer {
  grid-area: footer;
  position: sticky; 
  bottom: 0;  
}

button {
  position: fixed;
  top: 50%;
  margin-top: -25px;
  left: 50%;
  margin-left: -75px;
  cursor: pointer;
  width: 150px;
  height: 50px;
  border-radius: 10px;
  font-size: 24px;
  font-weight: bold;
}
